*.nupkg 
*.dep 
*.aps 
*.vbw 
*.suo 
*.obj 
*.plg 
*.bsc 
*.ilk 
*.exp 
*.sbr 
*.opt 
*.pdb 
*.idb 
*.pch 
*.res 
*.user
*\obj
*\bin
*\Debug
*\Release
*\Resharp*
*\_ReSharp*
Thumbs.db
*.ncb
*.suo
*.cache
*\TestResults
*\updater.exe
*.orig
packages/
FeedBuilder/FeedBuilder.xml
/.vs/NAppUpdate/v15/Server/sqlite3/storage.ide-wal
/.vs/NAppUpdate/v15/Server/sqlite3/storage.ide-shm
/.vs/NAppUpdate/v15/Server/sqlite3/storage.ide
/.vs/NAppUpdate/v15/Server/sqlite3/db.lock
